.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E4E4E4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.star {
  width: 20px;
  height: 30px;
  font-size: 20px;
  /* background-color: #CCCCCC; */
}
.starred {
  color: #FFA500;
}
.unstarred {
  color: white;
}

#welcome-wrapper {
  width: inherit;
  height: 70px;
}

#welcome {
  float: right;
  color: #333333;
  font-size: 18px;
  margin-top: 10px;
}

/* global */
.grey {
  background-color: aliceblue;
}

.key {
  display: none;
}
/*
.star:hover {
  cursor: pointer;
}
*/
.caret {
  display: none;
}
.searchbar {
  display: none;
}